:root {
    --color-fondo: #F3F5FC;
    --boton-principal: #0A3871;
    --letras-gris: #495057;
}

html,
body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
    height: 100%;
    margin: 0;
}

.header {
    height: 15%;
}

img {
    margin-left: 20px;
    margin-top: 20px;
}

.btn {
    border-radius: 24px;
    padding: 24px;
    font-size: 16px;
    font-weight: 400;
}

.btn.principal {
    background-color: var(--boton-principal);
    color: #fff;
    border: 1px solid var(--boton-principal);
}

.btn.secundario {
    background-color: var(--color-fondo);
    border: 1px solid var(--boton-principal);
    color: var(--boton-principal);
}

/* Pantalla de inicio */
.botones {
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: column;
    margin: 210px auto;
    justify-content: space-between;
}

/* Section Ingresar palabra */
.ingresar-palabra {
    display: none;
    width: 85%;
    height: 85%;
    flex-direction: column;
    margin: 20px auto;
    justify-content: flex-end;
}

#txt-palabra {
    flex: 1;
    background-color: var(--color-fondo);
    border: none;
    resize: none;
    font-size: 32px;
    text-align: center;
}

#txt-palabra::placeholder {
    color: var(--boton-principal);
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
}

.max-letras {
    display: flex;
    align-items: center;
}

.max-letras p {
    color: var(--letras-gris);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

.ingresar-palabra-botones {
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: space-around;
}

/* Section juego*/
.juego {
    display: none;
    width: 85%;
    height: 100%;
    flex-direction: column;
    margin: 20px auto;
    justify-content: space-between;
}

#canva {
    height: 50%;
}

.flex {
    display: flex;
    height: 5%;
    justify-content: center;
    text-align: center;
}

#words {
    display: flex;
}

span.linea {
    width: 35px;
    height: 40px;
    margin: 5px;
    border-bottom: 3px solid var(--boton-principal);
    color: var(--boton-principal);
    font-size: 24px;
}

.incorrectas {
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.incorrectas p {
    color: var(--letras-gris);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}

.teclado {
    height: 5%;
    margin: auto;
}

#input-movil {
    text-align: center;
    border: none;
    background-color: transparent;
}

#ganaste {
    text-align: center;
    font-size: 32px;
    color: green;
    height: 5%;
    display: none;
}

#perdiste {
    text-align: center;
    font-size: 32px;
    color: red;
    height: 5%;
    display: none;
}

.juego-botones {
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-around;
}

@media (min-width: 1024px) {

    .botones {
        width: 45%;
        height: 85%;
        display: flex;
        flex-direction: column;
        margin: 15% auto;
        justify-content: space-between;
    }

    .ingresar-palabra {
        display: none;
        width: 60%;
        height: 85%;
        flex-direction: column;
        margin: 20px auto;
        justify-content: flex-end;
    }

    .ingresar-palabra-botones {
        display: flex;
        flex-direction: row;
        height: 15%;
        justify-content: space-between;
    }

    .ingresar-palabra-botones .btn{
        width: 48%;
    }

    .juego {
        display: none;
        width: 30%;
        height: 85%;
        flex-direction: column;
        margin: 20px auto;
        justify-content: space-between;
    }
 
    .juego-botones {
        display: flex;
        flex-direction: row;
        height: 12.5%;
        justify-content: space-between;
    }

    .juego-botones .btn{
        width: 48%;
    }

    .teclado {
        display: none;
    }
}